.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F5F5F5;
}

header {
    display: flex;
    width: 50%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    img {
        width: 150px;
        height: 30px;
    }

    span {
       margin-right: 30px;
    }
}